.container {
    border: rgb(3, 3, 3) solid 5px;
    justify-content: center;
    margin-top: 10%;
    padding: 30px;
}
.calendar {
    display: grid;
    
   border: rgb(3, 3, 3) solid 5px;
   
   text-align: center;
  
}
.square {
    width: 100px;
    height: 100px;
  }
.Ablock {
    width: 15px;
    height: 15px;
    display: flex;
}
.A1 {
    background: #EDEDED;
}
.A2 {
    background: #ACD5F2;

}
.A3 {
    background: #7FA8C9;

}
.A4 {
    background: #527BA0;

}
.Ablock .A5 {
    background: #254E77;

}